/** JavaScript Excludes **/
div.jch-js-fieldset-children:only-child {
    display: none;
}

.jch-js-excludes-container, .jch-js-excludes-header {
    display: flex;
    flex-direction: row;
    clear: both;
    width: 450px;

    #fieldset-cropgravity & {
        width: 450px;

        .jch-js-excludes {
            width: 72%;
        }

        .jch-js-ieo {
            width: 18%;
        }

        .jch-js-ieo-header {
            width: 90%;
        }

        .jch-js-dontmove, .jch-js-dontmove-header {
            width: 10%;
        }
    }
}

.jch-js-excludes-header {
    font-size: 13px;
    text-decoration: underline #aaaaaa;
    text-underline-offset: 2px;
}

.jch-js-excludes-header .jch-js-ieo-header {
    width: 88%;
    border-right: 1px solid #aaaaaa;
    padding-bottom: 3px;
    text-align: right;
}

.jch-js-excludes-header .jch-js-dontmove-header {
    width: 12%;
    text-align: left;
    overflow: visible;
    white-space: nowrap;
    padding-bottom: 3px;
}

.jch-js-excludes-container .jch-js-ieo,
.jch-js-excludes-container .jch-js-anonymous,
.jch-js-excludes-container .jch-js-gravity {
    width: 12%;
    border-right: 1px solid #aaaaaa;
    text-align: center;
    padding-top: 3px;
}

.jch-js-excludes-container .jch-js-dontmove,
.jch-js-excludes-container .jch-js-use-credentials,
.jch-js-excludes-container .jch-js-cropwidth {
    width: 12%;
    text-align: center;
    padding-top: 3px;
}

.jch-js-excludes-container .jch-js-gravity {
    width: 18%;
}

.jch-js-excludes-container .jch-js-cropwidth {
    width: 10%;
}

.jch-js-excludes-container .jch-js-excludes {
    width: 76%;
    text-align: right;
    overflow: visible;
    display: inline-flex;
    justify-content: flex-end;
}

.jch-js-excludes-container .jch-js-excludes span {
    display: inline-block;
    vertical-align: middle;
    border-radius: 20px;
    padding: 4px 5px 4px 10px;
    font-size: 12px;
    font-weight: 500;
    margin-right: 3.75px;
    margin-bottom: 3.75px;
    background-color: #005F75;
    border: 1px solid #004a5c;
    color: #fff;
    word-break: break-all;
    box-sizing: border-box;
    cursor: pointer;
}

.jch-js-excludes-container .jch-js-excludes input {
    display: none;
}

.jch-js-excludes .jch-multiselect-remove-button {
    position: relative;
    display: inline-block;
    margin: 0 -4px 0 8px;
    padding-left: 16px;
    border: 0;
    border-left: 1px solid #003642;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjEiIGhlaWdodD0iMjEiIHZpZXdCb3g9IjAgMCAyMSAyMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyBmaWxsPSIjRkZGIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Ik0yLjU5Mi4wNDRsMTguMzY0IDE4LjM2NC0yLjU0OCAyLjU0OEwuMDQ0IDIuNTkyeiIvPjxwYXRoIGQ9Ik0wIDE4LjM2NEwxOC4zNjQgMGwyLjU0OCAyLjU0OEwyLjU0OCAyMC45MTJ6Ii8+PC9nPjwvc3ZnPg==);
    background-size: 8px;
    width: 8px;
    line-height: 1;
    opacity: 0.75;
    border-radius: 0;
    text-indent: -9999px;
    appearance: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    box-sizing: border-box;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    height: 12px;

    &:hover {
        opacity: 1;
    }

    &:focus {
        outline: none;
    }
}

.jch-multiselect-row {
    display: flex;
    align-items: end !important;
    gap: 0.5rem;
}

.jch-js-excludes-container span.has-select select {
    margin: 0 0 3px 0;
    height: 21px;
    min-height: 20px;
    line-height: 1;
    width: 70px;
    font-size: 12px;
    padding: 1px 0px 0px 2px;
}

.jch-js-excludes-container span.has-text-input:last-child {
    text-align: left;
}

.jch-js-excludes-container span.has-text-input input[type="text"] {
    margin: 0 0 3px 5px;
    padding: 0 2px;
    border-radius: 3px;
    border: 1px solid #aaaaaa;
    width: 70%;
    height: 21px;
    font-size: 12px;
    min-height: 20px;

}