
div.title:hover > div.description {
    z-index: 100;
    box-sizing: content-box;
}

div.title:hover > div.description > div {
    opacity: 1;
    width: 301px;
    visibility: visible;
    bottom: 30px;
}

div.description {
    display: inline-block;
    width: 15px;
    height: 15px;
    position: relative;
    z-index: 1;
    background: url(../images/icon-tooltip.png) no-repeat 0 0;
    cursor: help;
    vertical-align: middle;
    margin-left: 6px;
}

div.description:hover > div:hover, div.description > div {
    width: 301px;
    background: #f6f6f6 url(../images/bkg_tooltip_left.png) repeat-y;
    opacity: 0;
    position: absolute;
    z-index: 999;
    left: -10px;
    bottom: 28px;
    padding: 5px 12px;
    color: #464d50;
    visibility: hidden;
}

div.description > div:before {
    position: absolute;
    top: -5px;
    left: 0;
    content: '';
    width: 325px;
    height: 5px;
    overflow: hidden;
    background: url(../images/bkg_tooltip_left.png) no-repeat -650px 0;
}

div.description > div:after {
    position: absolute;
    bottom: -14px;
    left: 0;
    content: '';
    width: 325px;
    height: 14px;
    overflow: hidden;
    background: url(../images/bkg_tooltip_left.png) no-repeat -324.5px 0;
}

div.description p {
    font-size: 14px;
    margin: 0.5em 0 1em;
}

.sticky-wp {
    position: fixed;
    top: 65px;
}

fieldset.jch-group {
    background-color: #fff !important;
}

fieldset.jch-group legend {
    float: left;
    width: 100%;
    padding: 0;
    margin-bottom: .5rem;
    font-size: calc(1.275rem + 0.3vw);
}

/*
.jch-group td > input,
.jch-group td > select,
.jch-group td > div,
.jch-group td button {
    display: inline-block;
    margin-right: 5px;
}
*/

.jch-group .form-table th {
    padding: 15px 10px 15px 0;
    font-weight: 300;
}

.jch-group .form-table td {
    padding: 5px 10px;
}

.jch-group textarea {
    width: 400px;
}

#files-container ul li.file:nth-child(odd),
#files-container ul li.file:nth-child(odd) input[type=text] {
    background-color: #fdfdfd;
}

#files-container ul li.file:nth-child(even),
#files-container ul li.file:nth-child(even) input[type=text] {
    background-color: #f1f1f1;
}

.wrap a:focus {
    box-shadow: none;
}

/**
Checkboxes
 */

#jch-bs-admin-ui fieldset[id^="jch-optimize_settings"] ul.grid {
    column-gap: 1rem;
    row-gap: 0.15rem;
    margin: 0;
    justify-items: stretch;

    li {
        line-height: 1rem;
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;

        input {
            margin: 0 0.35rem 0 0;
        }

        label {
            margin: 0;
            padding: 0;
            line-height: 1rem;
        }
    }
}

#jch-bs-admin-ui fieldset#jch-optimize_settings_pro_html_sections ul.grid {
    column-gap: 0.5rem;
}

/**
grid
 */

.row {
    margin-bottom: 30px;
}

h3.popover-header {
    margin: 0;
}

input[value="1"].btn-check:checked + .btn-outline-secondary {
    background-color: var(--bs-success);
    border-color: var(--bs-success);
}

input[value="0"].btn-check:checked + .btn-outline-secondary {
    background-color: var(--bs-danger);
    border-color: var(--bs-danger);
}

.btn-check + .btn-outline-secondary:hover {
    background-color: var(--bs-secondary);
    border-color: var(--bs-secondary);
    color: var(--bs-btn-active-color);
}

#help-section .card {
    font-size: 16px;
    line-height: 24px;
    max-width: 100%;
    padding: 0;
}

#help-section .card p {
    font-size: 16px;
}

#help-section .card ol {
    margin-left: 0;
}

#help-section .card .img-thumbnail {
    box-sizing: border-box;
    border-radius: 0;
}

/**
Table reboot
 */

.table {
    caption-side: bottom;
    border-collapse: collapse;
    box-sizing: border-box;
}

.table *, .table *::before, .table *::after {
    box-sizing: border-box;
}

tbody, td, tfoot, th, thead, tr {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
}

th {
    text-align: inherit;
    text-align: -webkit-match-parent;
}

/**
] Form
 */
#jch-optimize-settings-form ul.nav-pills li.nav-item a {
    width: fit-content;
}

#jch-optimize-settings-form ul.nav-pills li.nav-item a small {
    float: none;
    width: fit-content;
}

#bulk-settings-modal-container .modal-dialog {
    max-width: 800px;
}

#itemsList a.page-cache-url {
    max-width: 650px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
}

.box-sizing-border-box {
    box-sizing: border-box;
}

#jch-bs-admin-ui .container-fluid.grid.box-sizing-border-box {
    --bs-rows: auto;
    --bs-columns: 2;
    --bs-gap: 1rem;
}

#jch-bs-admin-ui .card {
    margin: 0;
    padding: 0;
    max-width: 100%;
    box-shadow: none;
}

#settings-content {
    .choices {
        margin: 0;
        width: 450px;
    }

    .choices__inner {
        box-sizing: border-box;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
        background-repeat: no-repeat;
        background-position: right .75rem center;
        background-size: 16px 12px;
        background-color: #f0f0f1;
        cursor: pointer;

        &:focus-within {
            border-color: #80bedd;
            outline: 0;
            box-shadow: 0 0 0 .25rem rgba(0, 124, 186, 0.25);
        }

        input.choices__input, input.choices__input:focus {
            border: none;
            background-color: transparent;
            box-shadow: none;
            cursor: pointer;
        }
    }
}

#jch-bs-admin-ui #settings-content {
    .form-control, .form-select {
        max-width: 28em;
    }

    .form-check-input:checked::before {
        content: none;
    }
}

#jch-bs-admin-ui .popover p {
    font-size: 14px;
}

#jch-bs-admin-ui .has-checkbox .subfield.form-check-input:not(:checked) {
    background-color: white;
}

.modal-backdrop {
    --bs-backdrop-zindex: 1050;
    --bs-backdrop-bg: #000;
    --bs-backdrop-opacity: 0.5;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--bs-backdrop-zindex);
    width: 100vw;
    height: 100vh;
    background-color: var(--bs-backdrop-bg);
}

.modal-backdrop.fade {
    opacity: 0;
}

.modal-backdrop.show {
    opacity: var(--bs-backdrop-opacity);
}

